.header {
    background: linear-gradient(rgba(42, 123, 228, 0.241), rgba(12,5,7,0.75)), url('/public/images/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100vh - 72px);
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.header__content-flexrow {
    display: flex;
    justify-content: space-around;
    padding: 3rem;

}

.header__content-info {
    margin-top: 3rem;
    color: #fff;
}

.header__content-info h2 {
    font-size: 2rem;
}

.header__content-info p {
    font-size: 1.2rem;
}